POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=chat_db

# Variable pour Prisma (utilise les mêmes valeurs qu'au-dessus)
DATABASE_URL="postgresql://admin:password123@localhost:5432/chat_db?schema=public"